@{
    var roleId = Context.Session.GetInt32("RoleId");

}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/AdminAssest/assets/vendors/mdi/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="~/AdminAssest/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/AdminAssest/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/AdminAssest/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/AdminAssest/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/AdminAssest/assets/css/style.css">
    <!-- End layout styles -->
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <link rel="stylesheet" href="~/AdminAssest/assets/css/chartStyle.css" />

</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand text-light" asp-action="Index" asp-controller="Admin">Admin Dashboard</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
              
                <ul class="navbar-nav navbar-nav-right">
                    @if (ViewBag.UserName == null)
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="Profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-category">Main</li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Admin" class="nav-link" >
                            <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    @if (roleId.Equals(2))
                    {
                    <li  class="nav-item">
                        <a asp-action="Index" asp-controller="Customers"  class="nav-link" >
                            <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
                            <span class="menu-title">Customers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Hotels" class="nav-link" >
                            <span class="icon-bg"><i class="mdi mdi-houzz menu-icon"></i></span>
                            <span class="menu-title">Hotels</span>
                        </a>
                    </li>
                
                    <li class="nav-item">
                        <a data-toggle="collapse" asp-action="Index" asp-controller="Testimonials" class="nav-link" aria-expanded="true" aria-controls="ui-basic">
                            <span class="icon-bg"><i class="mdi mdi-comment-text menu-icon"></i></span>
                            <span class="menu-title">Testimonials</span>
                            <i class="menu-arrow"></i>
                            <div class="badge badge-info">@ViewBag.NewTestimonials</div>

                        </a>
                        <div class="collapse show" id="ui-basic" style="">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Testimonials">Manage Testimonials</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="RoomsRating" asp-controller="Testimonials">Rooms Rating</a></li>

                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" asp-action="Search" asp-controller="Bookings" aria-expanded="true" aria-controls="ui-basic">
                            <span class="icon-bg"><i class="mdi mdi-calendar-plus menu-icon"></i></span>
                            <span class="menu-title">Bookings</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse show" id="ui-basic" style="">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-action="Search" asp-controller="Bookings">Bookings Details</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-action="BenefitsReport" asp-controller="Bookings">Benefits Report</a></li>
                                
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Reviews" class="nav-link">
                            <span class="icon-bg"><i class="mdi mdi-comment-account menu-icon"></i></span>
                            <span class="menu-title">Reviews</span>
                        </a>

                    </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" aria-expanded="true" aria-controls="ui-basic">
                                <span class="icon-bg">
                                    <i class="mdi mdi-desktop-mac menu-icon"></i>
                                </span>
                                <span class="menu-title">Website Pages</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse show" id="ui-basic" style="">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Homedatums">Home Page</a></li>
                                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Aboutusdatums">About us page </a></li>
                                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Contactusdatums">Contact us page</a></li>


                                </ul>
                            </div>
                        </li>
                        
                    }
                </ul>
            </nav>
      
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
               
                <footer class="footer">
                    <div class="footer-inner-wraper">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Admin Page</span>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <partial name="_NotificationsToastr" />
    <script src="~/AdminAssest/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/AdminAssest/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/AdminAssest/assets/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/AdminAssest/assets/js/off-canvas.js"></script>
    <script src="~/AdminAssest/assets/js/hoverable-collapse.js"></script>
    <script src="~/AdminAssest/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/AdminAssest/assets/js/dashboard.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>

</body>
</html>
