@model BookingSystem.Models.Room

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-primary">Add new Room</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <input asp-for="Hotelid" value="@ViewBag.hotelId" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maxcapacity" class="control-label"></label>
                <input asp-for="Maxcapacity" class="form-control" />
                <span asp-validation-for="Maxcapacity" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Roomtype" class="control-label"></label>
                <input asp-for="Roomtype" class="form-control" />
                <span asp-validation-for="Roomtype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-hotelId="@ViewBag.HotelId">Back to List</a>
</div>

