@model BookingSystem.Models.Customer

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="container mb-2">
	<div class="card shadow border-0 ">

		<div class="card-header bg-secondary bg-gradient text-light ml-0 py-4 ">

			<div class="row text-center">

				<h4 class="text-light fw-bolder">Profile</h4>
					
				</div>
			
		</div>
		<div class="card-body">
			<div class="container rounded p-2">
				<div class="row">
					<div class="col-12  pb-4 ">
						
						<div class="row my-1">
							<div class="col-3">
								<label>First Name</label>
							</div>
							<div class="col-9">
								<span>@Model.Firstname</span>
							</div>
						</div>
						<div class="row my-1">
							<div class="col-3">
								<label>Last Name</label>
							</div>
							<div class="col-9">
							
								<span>@Model.Lastname</span>
							</div>
						</div>
						<div class="row my-1">
							<div class="col-3">
								<label>Phone Number</label>
							</div>
							<div class="col-9">
								<span>@Model.Phonenumber</span>
							</div>
						</div>
						<div class="row my-1">
							<div class="col-3">
								<label>Email</label>
							</div>
							<div class="col-9">
								<span>@Model.Email</span>
							</div>
						</div>
						
						
					</div>
					
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row">
				
				<div class="col-12 col-md-4">
					<a asp-action="EditProfile" asp-controller="Profile" class="btn btn-primary form-control">Edit Profile</a>
				</div>
			</div>
		</div>
	</div>
</div>

