@model BookingSystem.Models.UserLogin

@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/RegisterAssest/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/RegisterAssest/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />

</head>
<body>
    <div class="main">
        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" asp-action="Login" class="signup-form">
                        <br />
                        <h2 class="form-title">Login account</h2>
                       
                        
                        <div class="form-group">
                            <input asp-for="Username" class="form-input" placeholder="UserName" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Hashedpassword" class="form-input" placeholder="Password" type="password"/>
                            <span asp-validation-for="Hashedpassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" style="cursor:pointer;" class="form-submit" value="Sign up" />
                        </div>
                    </form>
                    <p class="loginhere">
                        Create an account ? <a asp-action="Register" class="loginhere-link">Login here</a>
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </section>

    </div>
    <partial name="_NotificationsToastr" />
    <!-- JS -->
    <script src="~/RegisterAssest/vendor/jquery/jquery.min.js"></script>
    <script src="~/RegisterAssest/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

