@model Customer
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Details</h1>

<div class="card text-center">
    <div class="card-header">
        <h4>Hotel</h4>

    </div>
    <hr />
    <div class ="card-body  text-black">
        <div class="col">
            
            <h3>First Name: @Model.Firstname</h3>
            <h3>Last Name: @Model.Lastname</h3>
            <h3>Email: @Model.Email</h3>
            <h3>Phone Number: @Model.Phonenumber</h3>

        </div>
    
        <div>
            <a asp-action="EditProfile">Edit</a> |
        </div>
    </div>
</div>


